extends layouts/main-layout.pug
block content
    br
    .container
         div.card
            div.card-body
                form.container(action='change-password' method='POST')
                    div.row
                        label.form-label(for='currentPassword') Current Password
                        input(class=(currentPasswordError == false ? 'form-control' : 'form-control  is-invalid') value=currentPasswordValue type='password' placeholder='Current Password' aria-label='Current Password' name='currentPassword' required)
                        if currentPasswordError
                            div.invalid-feedback(id='usernameFeedback') #{currentPasswordErrorMessage}
                    br
                    div.row
                        label.form-label(for='newPassword') New Password
                        input(class=(newPasswordError == false ? 'form-control' : 'form-control  is-invalid') value=newPasswordValue type='password' placeholder='New Password' aria-label='Password' name='newPassword' required)
                        if newPasswordError
                            div.invalid-feedback(id='passwordFeedback') #{newPasswordErrorMessage}
                    br
                    div.row
                        label.form-label(for='confirmPassword') Confirm Password
                        input(class=(confirmPasswordError == false ? 'form-control' : 'form-control  is-invalid') value=confirmPasswordValue type='password' placeholder='Confirm Password' aria-label='Confirm Password' name='confirmPassword' required)
                        if confirmPasswordError
                            div.invalid-feedback(id='confirmPasswordFeedback') #{confirmPasswordErrorMessage}
                    br
                    div.row
                        input.btn.btn-primary(type='submit' value='Save Password' aria-label='Save Password')